Repository espressif/idf-extra-components, pull requests merged in 2024-11, with the labels that each got.

#432 Feat/spi nand flash mt29f1 (IEC-225)
  spi_nand_flash/src/nand.c
  spi_nand_flash/src/nand_flash_devices.h
Labels: Component: spi_nand_flash, Status: Opened

#434 fix(network_prov): Fix warning of unused_function or unused_variable (IEC-227)
  network_provisioning/idf_component.yml
  network_provisioning/src/handlers.c
  network_provisioning/src/network_scan.c
Labels: Component: network_provisioning, Status: Opened

#444 feat(esp_jpeg): Add configuration option for working buffer size
  esp_jpeg/CHANGELOG.md
  esp_jpeg/README.md
  esp_jpeg/examples/get_started/sdkconfig.defaults
  esp_jpeg/idf_component.yml
  esp_jpeg/include/jpeg_decoder.h
  esp_jpeg/jpeg_decoder.c
  esp_jpeg/test_apps/main/tjpgd_test.c
Labels: Component: esp_jpeg
