Repository espressif/idf-extra-components, pull requests merged in 2024-07, with the labels that each got.

#347 docs(led_strip): change api description of hsv (IEC-131)
  led_strip/Doxyfile
  led_strip/api.md
  led_strip/include/led_strip.h
Labels: Component: led_strip

#343 feat(network_prov): Change the proto file to make the network_provisioning stay backward compatible with wifi_provisioning (IEC-125)
  network_provisioning/CHANGELOG.md
  network_provisioning/examples/thread_prov/main/idf_component.yml
  network_provisioning/examples/wifi_prov/main/idf_component.yml
  network_provisioning/idf_component.yml
  network_provisioning/proto-c/network_config.pb-c.c
  network_provisioning/proto-c/network_config.pb-c.h
  network_provisioning/proto-c/network_constants.pb-c.c
  network_provisioning/proto-c/network_constants.pb-c.h
  network_provisioning/proto-c/network_ctrl.pb-c.c
  network_provisioning/proto-c/network_ctrl.pb-c.h
  network_provisioning/proto-c/network_scan.pb-c.c
  network_provisioning/proto-c/network_scan.pb-c.h
  network_provisioning/proto/network_config.proto
  network_provisioning/proto/network_constants.proto
  network_provisioning/proto/network_ctrl.proto
  network_provisioning/proto/network_scan.proto
  network_provisioning/python/network_config_pb2.py
  network_provisioning/python/network_constants_pb2.py
  network_provisioning/python/network_ctrl_pb2.py
  network_provisioning/python/network_scan_pb2.py
  network_provisioning/src/network_config.c
  network_provisioning/src/network_ctrl.c
  network_provisioning/src/network_scan.c
  network_provisioning/tool/esp_prov/README.md
  network_provisioning/tool/esp_prov/esp_prov.py
  network_provisioning/tool/esp_prov/prov/network_ctrl.py
  network_provisioning/tool/esp_prov/prov/network_prov.py
  network_provisioning/tool/esp_prov/prov/network_scan.py
Labels: Component: network_provisioning

#327 added support for Micron MT29F nand flash (IEC-110)
  spi_nand_flash/examples/nand_flash/main/spi_nand_flash_example_main.c
  spi_nand_flash/idf_component.yml
  spi_nand_flash/src/nand.c
  spi_nand_flash/src/nand_flash_devices.h
  spi_nand_flash/test_app/main/idf_component.yml
Labels: Component: spi_nand_flash
