Repository espressif/idf-extra-components, pull requests merged in 2024-10, with the labels that each got.

#392 ci: fix workflow when there are no builds or no tests
  .github/README.md
  .github/get_idf_build_apps_args.py
  .github/workflows/build_and_run_apps.yml
Labels: infrastructure

#391 fix(spi_nand_flash): add dhara to public dependencies (+minor changes)
  spi_nand_flash/CMakeLists.txt
  spi_nand_flash/examples/nand_flash/main/spi_nand_flash_example_main.c
  spi_nand_flash/idf_component.yml
  spi_nand_flash/sbom_dhara.yml
  spi_nand_flash/test_app/CMakeLists.txt
  spi_nand_flash/test_app/main/CMakeLists.txt
  spi_nand_flash/test_app/main/test_app_main.c
  spi_nand_flash/test_app/main/test_spi_nand_flash.c
Labels: Component: spi_nand_flash

#390 ci: use a simple test app for clang-tidy, remove the original test_app, readme updates
  .github/clang-tidy/test_app/CMakeLists.txt
  .github/readme_workflows.md
  .github/workflows/clang-tidy.yml
  .gitignore
  .idf_build_apps.toml
  README.md
  test_app/CMakeLists.txt
  test_app/main/CMakeLists.txt
  test_app/main/test_app_main.c
  test_app/partitions.csv
  test_app/pytest_test_app.py
  test_app/sdkconfig.defaults
Labels: infrastructure

#395 ci: add missing component test apps
  .idf_build_apps.toml
  esp_delta_ota/test/CMakeLists.txt
  esp_delta_ota/test_apps/CMakeLists.txt
  esp_delta_ota/test_apps/main/CMakeLists.txt
  esp_delta_ota/test_apps/main/assets/bad_patch.bin
  esp_delta_ota/test_apps/main/assets/base.bin
  esp_delta_ota/test_apps/main/assets/new.bin
  esp_delta_ota/test_apps/main/assets/patch.bin
  esp_delta_ota/test_apps/main/esp_delta_ota_test_main.c
  esp_delta_ota/test_apps/main/idf_component.yml
  esp_delta_ota/test_apps/main/test_esp_delta_ota.c
  esp_delta_ota/test_apps/pytest_esp_delta_ota.py
  esp_delta_ota/test_apps/sdkconfig.defaults
  esp_jpeg/.build-test-rules.yml
  esp_jpeg/test/CMakeLists.txt
  esp_jpeg/test_apps/CMakeLists.txt
  esp_jpeg/test_apps/main/CMakeLists.txt
  esp_jpeg/test_apps/main/idf_component.yml
  esp_jpeg/test_apps/main/logo.jpg
  esp_jpeg/test_apps/main/test_logo_jpg.h
  esp_jpeg/test_apps/main/test_logo_rgb888.h
  esp_jpeg/test_apps/main/test_tjpgd_main.c
  esp_jpeg/test_apps/main/tjpgd_test.c
  esp_jpeg/test_apps/pytest_esp_jpeg.py
  esp_jpeg/test_apps/sdkconfig.defaults
Labels: infrastructure

#369 [fix] add swap_color_bytes for rgb888. (IEC-160)
  esp_jpeg/idf_component.yml
  esp_jpeg/jpeg_decoder.c
Labels: Component: esp_jpeg

#399 change(coap): exclude CVE-2024-46304
  coap/idf_component.yml
  coap/sbom_libcoap.yml
Labels: PR: build only

#400 ci(spi_nand_flash): run example and test on hardware (IEC-180)
  .github/get_idf_build_apps_args.py
  .github/workflows/build_and_run_apps.yml
  pytest.ini
  spi_nand_flash/examples/nand_flash/pytest_nand_flash_example.py
  spi_nand_flash/examples/nand_flash/sdkconfig.ci
  spi_nand_flash/test_app/pytest_spi_nand_flash.py
Labels: Component: spi_nand_flash

#344 feat(led_strip): Support more pixel orders of 3 colors (IEC-126)
  led_strip/CHANGELOG.md
  led_strip/CMakeLists.txt
  led_strip/README.md
  led_strip/api.md
  led_strip/examples/led_strip_rmt_ws2812/CMakeLists.txt
  led_strip/examples/led_strip_rmt_ws2812/main/idf_component.yml
  led_strip/examples/led_strip_rmt_ws2812/main/led_strip_rmt_ws2812_main.c
  led_strip/examples/led_strip_spi_ws2812/CMakeLists.txt
  led_strip/examples/led_strip_spi_ws2812/main/idf_component.yml
  led_strip/examples/led_strip_spi_ws2812/main/led_strip_spi_ws2812_main.c
  led_strip/idf_component.yml
  led_strip/include/led_strip.h
  led_strip/include/led_strip_rmt.h
  led_strip/include/led_strip_spi.h
  led_strip/include/led_strip_types.h
  led_strip/src/led_strip_rmt_dev.c
  led_strip/src/led_strip_rmt_dev_idf4.c
  led_strip/src/led_strip_spi_dev.c
Labels: Component: led_strip

#402 add support for WS2811 timing (IEC-194)
  led_strip/include/led_strip_types.h
  led_strip/src/led_strip_rmt_encoder.c
Labels: Component: led_strip, Status: Opened
