Repository espressif/idf-extra-components, pull requests merged in 2024-01, with the labels that each got.

#293 fix(usb/host): Fix build C++ build for newly added enum filter feature (IEC-80)
  usb/esp_modem_usb_dte/CHANGELOG.md
  usb/esp_modem_usb_dte/esp_modem_usb.cpp
Labels: Component: usb

#292 esp_tinyusb v1.4.3: ESP32P4 HS only support
  usb/esp_tinyusb/CHANGELOG.md
  usb/esp_tinyusb/Kconfig
  usb/esp_tinyusb/idf_component.yml
  usb/esp_tinyusb/include/tusb_config.h
Labels: Component: usb

#289 feat(coap): Support both PKI and PSK being configured concurrently (IEC-78)
  coap/Kconfig
  coap/examples/coap_client/README.md
  coap/examples/coap_client/main/certs/coap_ca.pem
  coap/examples/coap_client/main/certs/coap_client.crt
  coap/examples/coap_client/main/certs/coap_client.key
  coap/examples/coap_client/main/coap_client_example_main.c
  coap/examples/coap_server/README.md
  coap/examples/coap_server/main/certs/coap_ca.pem
  coap/examples/coap_server/main/certs/coap_server.crt
  coap/examples/coap_server/main/certs/coap_server.key
  coap/idf_component.yml
  coap/port/include/coap3/coap.h
  coap/port/include/coap_config.h
  coap/port/include/coap_config_posix.h
Labels: Component: coap

#299 led_strip: Add support for WS2812B-V5 (IEC-84)
  led_strip/idf_component.yml
  led_strip/src/led_strip_rmt_encoder.c
Labels: Component: led_strip
