Repository espressif/idf-extra-components, pull requests merged in 2025-08, with the labels that each got.

#531 Add esp-gcov for code coverage support (IEC-342)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/upload_component.yml
  .idf_build_apps.toml
  esp_gcov/.build-test-rules.yml
  esp_gcov/CMakeLists.txt
  esp_gcov/Kconfig
  esp_gcov/LICENSE
  esp_gcov/README.md
  esp_gcov/esp_gcov.h
  esp_gcov/gcov_rtio.c
  esp_gcov/idf_component.yml
  esp_gcov/io_sym.map
  esp_gcov/project_include.cmake
Labels: Status: Opened, Component: esp_gcov

#534 fix(esp_gcov): ipc enabled by default (IEC-345)
  esp_gcov/Kconfig.gcov
  esp_gcov/idf_component.yml
Labels: Status: Opened, Component: esp_gcov

#532 (feat): add esp idf legacy unit-test-app (IEC-343)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/upload_component.yml
  unit-test-app/CMakeLists.txt
  unit-test-app/LICENSE
  unit-test-app/README.md
  unit-test-app/examples/unit-test-app/CMakeLists.txt
  unit-test-app/examples/unit-test-app/README.md
  unit-test-app/examples/unit-test-app/configs/.gitkeep
  unit-test-app/examples/unit-test-app/idf_ext.py
  unit-test-app/examples/unit-test-app/main/CMakeLists.txt
  unit-test-app/examples/unit-test-app/main/app_main.c
  unit-test-app/examples/unit-test-app/partition_table_unit_test_app.csv
  unit-test-app/examples/unit-test-app/partition_table_unit_test_app_2m.csv
  unit-test-app/examples/unit-test-app/partition_table_unit_test_two_ota.csv
  unit-test-app/examples/unit-test-app/partition_table_unit_test_two_ota_2m.csv
  unit-test-app/examples/unit-test-app/sdkconfig.defaults
  unit-test-app/examples/unit-test-app/sdkconfig.defaults.esp32
  unit-test-app/examples/unit-test-app/sdkconfig.defaults.esp32c2
  unit-test-app/examples/unit-test-app/sdkconfig.defaults.esp32c3
  unit-test-app/examples/unit-test-app/sdkconfig.defaults.esp32s2
  unit-test-app/examples/unit-test-app/sdkconfig.defaults.esp32s3
  unit-test-app/examples/unit-test-app/tools/CreateSectionTable.py
  unit-test-app/examples/unit-test-app/tools/ElfUnitTestParser.py
  unit-test-app/idf_component.yml
Labels: Status: Opened

#542 feat(touch_element): add touch element component (IEC-353)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/clang-tidy/test_app/CMakeLists.txt
  .github/workflows/build_and_run_apps.yml
  .github/workflows/upload_component.yml
  .gitignore
  .idf_build_apps.toml
  touch_element/.build-test-rules.yml
  touch_element/CMakeLists.txt
  touch_element/LICENSE
  touch_element/README.md
  touch_element/idf_component.yml
  touch_element/include/touch_element/touch_button.h
  touch_element/include/touch_element/touch_element.h
  touch_element/include/touch_element/touch_matrix.h
  touch_element/include/touch_element/touch_sensor_legacy_types.h
  touch_element/include/touch_element/touch_slider.h
  touch_element/touch_button.c
  touch_element/touch_element.c
  touch_element/touch_element_private.h
  touch_element/touch_matrix.c
  touch_element/touch_sensor_legacy_hal.c
  touch_element/touch_sensor_legacy_hal.h
  touch_element/touch_sensor_legacy_ll.h
  touch_element/touch_slider.c
Labels: Status: In Progress, Component: touch_element
