Repository espressif/idf-extra-components, pull requests merged in 2025-03, with the labels that each got.

#486 change(freetype): add CVE-2025-27363 to cve exclude list (IEC-283)
  freetype/sbom_freetype.yml
Labels: Status: Opened

#467 Create led_strip_rmt_ws2812.c (IEC-253)
  led_strip/CHANGELOG.md
  led_strip/examples/led_strip_rmt_ws2812/main/led_strip_rmt_ws2812_main.c
  led_strip/idf_component.yml
Labels: Component: led_strip, Status: Opened

#487 change(freetype): update version number in correct file (IEC-284)
  freetype/idf_component.yml
  freetype/sbom_freetype.yml
Labels: Status: Opened

#480 fix(spi_nand_flash): fix memory alignment issue occurring on esp32c3
  spi_nand_flash/src/nand_impl.c
Labels: Component: spi_nand_flash

#472 feat(spi_nand_flash): Add linux target support
  .build-test-rules.yml
  spi_nand_flash/CMakeLists.txt
  spi_nand_flash/Kconfig
  spi_nand_flash/README.md
  spi_nand_flash/diskio/diskio_nand.c
  spi_nand_flash/diskio/diskio_nand.h
  spi_nand_flash/host_test/CMakeLists.txt
  spi_nand_flash/host_test/README.md
  spi_nand_flash/host_test/main/CMakeLists.txt
  spi_nand_flash/host_test/main/idf_component.yml
  spi_nand_flash/host_test/main/test_app_main.cpp
  spi_nand_flash/host_test/main/test_nand_flash.cpp
  spi_nand_flash/host_test/pytest_nand_flash_linux.py
  spi_nand_flash/host_test/sdkconfig.defaults
  spi_nand_flash/idf_component.yml
  spi_nand_flash/include/nand_linux_mmap_emul.h
  spi_nand_flash/include/spi_nand_flash.h
  spi_nand_flash/priv_include/nand.h
  spi_nand_flash/src/dhara_glue.c
  spi_nand_flash/src/nand.c
  spi_nand_flash/src/nand_impl_linux.c
  spi_nand_flash/src/nand_linux_mmap_emul.c
Labels: Component: spi_nand_flash

#476 feat(spi_nand_flash): Add SIO (full-duplex) and DIO mode support
  spi_nand_flash/examples/nand_flash/README.md
  spi_nand_flash/examples/nand_flash/main/spi_nand_flash_example_main.c
  spi_nand_flash/idf_component.yml
  spi_nand_flash/include/spi_nand_flash.h
  spi_nand_flash/priv_include/nand.h
  spi_nand_flash/priv_include/spi_nand_oper.h
  spi_nand_flash/src/nand.c
  spi_nand_flash/src/nand_alliance.c
  spi_nand_flash/src/nand_gigadevice.c
  spi_nand_flash/src/nand_impl.c
  spi_nand_flash/src/nand_micron.c
  spi_nand_flash/src/nand_winbond.c
  spi_nand_flash/src/spi_nand_oper.c
  spi_nand_flash/test_app/main/test_spi_nand_flash.c
Labels: Component: spi_nand_flash

#482 fix(network_prov): fix incorrect AES-GCM IV usage in security2 scheme (IEC-279)
  network_provisioning/CHANGELOG.md
  network_provisioning/idf_component.yml
  network_provisioning/src/manager.c
  network_provisioning/tool/esp_prov/esp_prov.py
  network_provisioning/tool/esp_prov/security/security2.py
Labels: Component: network_provisioning, Status: Opened

#489 feat(spi_nand_flash): Add QIO mode support
  spi_nand_flash/examples/nand_flash_debug_app/main/spi_nand_flash_debug_app_main.c
  spi_nand_flash/idf_component.yml
  spi_nand_flash/include/spi_nand_flash.h
  spi_nand_flash/priv_include/nand.h
  spi_nand_flash/priv_include/spi_nand_oper.h
  spi_nand_flash/src/nand.c
  spi_nand_flash/src/nand_alliance.c
  spi_nand_flash/src/nand_gigadevice.c
  spi_nand_flash/src/nand_micron.c
  spi_nand_flash/src/nand_winbond.c
  spi_nand_flash/src/spi_nand_oper.c
  spi_nand_flash/test_app/main/test_spi_nand_flash.c
Labels: Component: spi_nand_flash
